<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style-continents-view.css">
    <title>Treks</title>
</head>
<header>

    <nav class="nav-bar">
        <div class="home">
            <a class="nav-links home-button" href="landing-page.html">Home</a>
        </div>
        <div class = "treks">
            <a class = "nav-links trek-button" href="trek-types">Types of Treks</a>

        </div>

        <div class = "destination">
            <a class = "nav-links destination-button" href="continents">Destinations</a>
            <div class = "destination-content">
                <a href="continents">Continents</a>
                <a href="regions">Regions</a>

            </div>
        </div>
        <a class = "nav-links" href="index-about-page.html">About Us</a>
        <a class = "nav-links" href="index-contact-page.html">Contact Us</a>


    </nav>

</header>

<body>
<h1>Treks View</h1>
<div th:each="trek:${treks}">
    <a th:href="@{'/treks/'+ ${trek.trekName}}"
       th:text="${trek.trekName} ">Trek</a>
</div>
</body>
</html>