<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TrekView</h1>
<div th:each="trek: ${treks}">
    <p th:text=" 'Trek Name: ' + ${trek.trekName}"></p>
    <p th:text=" 'Trek Type: ' + ${trek.difficultyLevel}"></p>
    <p th:text=" 'Description: ' + ${trek.description}"></p>
    <p th:text=" 'Guided: ' + ${trek.guidedOrNot}"></p>
    <p th:text=" 'Landmarks: ' + ${trek.landmarks}"></p>
    <p th:text=" 'Campsite Info: ' + ${trek.campsiteInfo}"></p>
    <p th:text=" 'Transportation: ' + ${trek.transportation}"></p>
    <p th:text=" 'Nearby Activities: ' + ${trek.nearbyActivities}"></p>
    <p th:text=" 'Cost: ' + ${trek.cost}"></p>
    <p th:text=" 'Length: ' + ${trek.length}"></p>
    <p th:text=" 'Reviews: ' + ${trek.reviews}"></p>
</div>
</body>
</html>